body {
    background-color: rgb(63, 63, 63);
}

.Background {
    position: fixed;
    width: 100%;
    top: 0px;
    margin-left: -10px;
    user-drag: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.AboutUs {
    position: fixed;
    top: 35%;
    left: 50%;
    margin-left: -45%;
    height: 460px;
    width: 90%;
    background-color: rgb(3, 165, 252);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}