body {
    background-color: rgb(63, 63, 63);
}

.Background {
    position: fixed;
    width: 100%;
    top: 0px;
    margin-left: -10px;
    user-drag: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.Star {
    height: 75px;
    width: 75px;
    position: fixed;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    top: 35px;
    left: 40.5%;
    margin-left: -50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Back {
    position: fixed;
    height: 50px;
    width: 100px;
    background-color: rgb(3, 165, 252);
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.BackArrow {
    position: absolute;
    font-size: 75px;
    top: -77.5px;
    left: 50%;
    margin-left: -35px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.AboutUs {
    position: fixed;
    font-size: 28px;
    top: 36%;
    left: 50%;
    margin-left: -45%;
    height: 440px;
    width: 90%;
    background-color: rgb(3, 165, 252);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.Teri {
    position: fixed;
    top: 25%;
    left: 25px;
    height: 75px;
    width:  500px;
    background-color: rgb(255, 255, 255);
    border-radius: 37.5px;
}

.TeriText {
    position: absolute;
    height: 75px;
    width: 500px;
    top: 50%;
    margin-top: -13.5px;
    text-indent: 80px;
    font-size: 27px;
    text-align: center;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.TeriLogo {
    position: absolute;
    left: 0px;
    height: 75px;
    border-radius: 37.5px;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.CatPeep {
    position: fixed;
    top: 25%;
    right: 25px;
    height: 75px;
    width:  500px;
    background-color: rgb(255, 255, 255);
    border-radius: 37.5px;
}

.CatPeepText {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 75px;
    width: 500px;
    text-indent: -80px;
    font-size: 35px;
    text-align: center;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.CatPeepLogo {
    position: absolute;
    left: 425px;
    height: 75px;
    border-radius: 37.5px;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}